/* css reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* universal styles */

body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    background-color: rgb(30, 60, 75);
    color: rgb(190, 189, 179);
    padding: 5%;
    margin: 1%;
    letter-spacing: 5%;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 5%;
}

p {
    word-spacing: .25em;
    font-size: 1.2rem;
    margin-bottom: 4%;
}

/* link (a) styles) */

footer a {
    text-decoration: none;
    color: pink;
    font-size: 1.4rem;
    font-weight: 300;
    border-bottom: 1.5px solid;
    border-radius: 5px;
    letter-spacing: .1em;
  }

  footer a:hover {
      color: rgb(201, 73, 169);
      transition: all .3s;
  }

/* class and id selectors */

.captions {
    padding-top: 15%;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 15%;
    border-top: .3px solid rgb(190, 189, 179);
}

.flair {
    background-color: rgb(34, 69, 87);
    border-radius: 10px;
    border-bottom: .3px solid rgb(190, 189, 179);
}

.padding-top {
    padding-top: 3%;
}

.padding-btm {
    padding-bottom: 2%;
}

#myh1 {
    font-weight: 300;
    font-size: 2.5rem;
}